node_modules
node_modules2
*.log
*.log.*
logs
.vscode
dest
dist
coverage
.idea
package-lock.json
.DS_*
.nyc*
ncc
!**/fixtures/app/node_modules/hello/*
run/
package-lock.json
.nodejs-cache
AUTHORS
.serverless
.midway
.ncc_entry
.zip
.aliyun_credentials
.faas_debug_tmp
.env_temp
serverless.zip
code.zip
**/eaas/.github/
cloudfunctions
artifact.zip
.history